<h2 class="text-muted">Por Región</h2>
<hr />
<div class="row">
  <div class="col d-flex justify-content-evenly">
    <button
      *ngFor="let region of regions"
      (click)="SearchByRegion(region)"
      class="btn btn-outline-secundary"
      [ngClass]="{ 'btn-outline-dark': region == selectedRegion }"
    >
      {{ region }}
    </button>
  </div>
</div>
<hr />

<div class="row">
  <div class="col">
    <div
      *ngIf="isLoading"
      class="position-fixed top-50 start-50 translate-middle z-1"
    >
      <shared-loading-spinner></shared-loading-spinner>
    </div>
    <country-table [countryList]="countryList"></country-table>
  </div>
</div>
