<h2 class="text-muted">Por Región</h2>
<hr />
<div class="row">
  <div class="col d-flex justify-content-evenly">
    <button
      *ngFor="let region of regions"
      (click)="SearchByRegion(region)"
      class="btn btn-outline-secundary"
      [ngClass]="{ 'btn-outline-dark': region == selectedRegion }"
    >
      {{ region }}
    </button>
  </div>
</div>
<hr />

<div class="row">
  <div class="col">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <country-table [countryList]="countryList"></country-table>
  </div>
</div>
